#root {
  height: -webkit-fill-available;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.config {
  margin-bottom: 20px;
  display: flex;
}

.btn {
  font-size: 2rem;
  padding: 4px 8px;
  margin: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-go {
  background-color: green;
  color: white;
  border: 2px solid darkgreen;
}

.btn-reset {
  background-color: blue;
  color: white;
  border: 2px solid darkblue;
}

.unit {
  transition: all 0.5s ease-out;
}

.game {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #999999;
  padding: 8px 16px;
  text-align: center;
}

th,
td {
  text-align: center;
  font-size: 1.5rem;
  padding: 4px 8px;
}

.hide {
  display: none;
}

.choose-unit {
  font-size: 3rem;
  margin: 8px;
  cursor: pointer;
}

.favorite {
  border: 1px solid red;
  border-radius: 3px;
}
