@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/russo-one-v14-latin-regular.eot");
  src: local(""),
    url("../fonts/russo-one-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/russo-one-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/russo-one-v14-latin-regular.woff") format("woff"),
    url("../fonts/russo-one-v14-latin-regular.ttf") format("truetype"),
    url("../fonts/russo-one-v14-latin-regular.svg#RussoOne") format("svg");
}

main {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

body {
  font-family: "Russo One";
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.unit {
  transition: all 0.5s ease-out;
  position: absolute;
}

th,
td {
  text-align: center;
  font-size: 1.5rem;
  padding: 4px;
}

.choose-unit {
  font-size: 3rem;
  width: 4rem;
  height: 4rem;
  margin: 8px;
  cursor: pointer;
}

.favorite {
  border-radius: 6px;
  background-color: dodgerblue;
}

.score-table {
  margin: auto;
}

.message {
  font-size: 2rem;
}

.arena {
  min-width: 300px;
  min-height: 300px;
}

@media (min-width: 576px) {
  .arena {
    min-width: 300px;
    min-height: 300px;
  }
}

@media (min-width: 768px) {
  .arena {
    min-width: 400px;
    min-height: 400px;
  }
}

@media (min-width: 992px) {
  .arena {
    min-width: 500px;
    min-height: 500px;
  }
}

@media (min-width: 1200px) {
  .arena {
    min-width: 600px;
    min-height: 600px;
  }
}

@media (min-width: 1400px) {
  .arena {
    min-width: 600px;
    min-height: 600px;
  }
}
